
/*Estilos para cualquier pantalla*/

.full-width {
	width: 100%;
}
.row-padding-top-all {
	padding-top: 15px;
}
.row-padding-top-popup-all {
	padding-top: 20px;
}
.row-padding-bottom-all {
	padding-bottom: 15px;
}
.row-padding-bottom-popup-all {
	padding-bottom: 20px;
}
.remove-padding-left-col-all {
	padding-left: 0px;
  	padding-right: 15px;
}
.remove-padding-right-col-all {
	padding-left: 15px;
  	padding-right: 0px;
}
.remove-padding-lateral-col-all {
	padding: 0px;
}

.fondoAmarillo {
	background-color: #FFB400;
}
.letraRojaPacasmayo {
	color:#992500;
}
.letraRojaNegritaPacasmayo {
	color:#992500 !important;
	font-weight:bold;
}
.fondoPaginaLogin {
	background-color: #999375;
}



/*Estilo para que Bootstrap funcione bien los Kendo Windows Modal*/
.k-window .row, .k-window .row * { 
    box-sizing: border-box; 
}


/*Estilos aplicados a componentes*/
body {
	font-size: 12px !important;
}
fieldset {
    border: 1px solid #94c0d2;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border-radius: 4px;
}
legend {
	border: 0 none !important;
    padding: 0 !important;
    
    margin-bottom: 0px;
    width: auto;
    font-size: 12px;
    color: #59acff;
}
span.k-widget.k-datepicker.k-header.k-input {
	padding: unset !important;
}
header {
	border-bottom: 1px solid;
}












